body {
  background-color: #fff;
  color: #111;
  font: 20px Arial, Helvetica Neue, sans-serif;
  padding: 32px;
}

header {
  font-size: 24px;
  font-weight: bold;
}

header, footer, section section {
  border: 2px solid orange;
  padding: 12px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

footer {
  text-align: left;
}

button {
  font: inherit;
}

.sidebar {
  white-space: nowrap;
}

.main {
  overflow-y: auto !important;
}