@host {
  * {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-direction: column;
  }
}

pi-feed-viewer#viewer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

#searchBox {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

#searchInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 1px;
  padding: 0 0 0 40px;
  border: 0;
  font-size: 16px;
}

#searchBox > speech-mic {
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 0;
}

#searchBox > g-icon {
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 10px;
}